< configuração >
  < sistema .webServer>
    
    <!-- indica que o arquivo index.js é um aplicativo node.js 
    a ser tratado pelo módulo iisnode -->
    
    < manipuladores >
      < add  name = " iisnode "  path = " index.js "  verb = " * "  modules = " iisnode " />
    </ manipuladores >
    
    <!-- adiciona index.js à lista de documentos padrão para permitir 
    URLs que especificam apenas o local raiz do aplicativo, 
    por exemplo, http://mysite.antarescloud.com/ -->
    
    < defaultDocument  enabled = " true " >
      < arquivos >
        < adicionar  valor = " index.js " />
      </ arquivos >
    </ defaultDocument >
    
  </ system .webServer>
</ configuração >
